extends layout

block content
    table#table
        tr
            td id
            td 链接地址
            td 藏宝阁价格（元）
            td 折算价格（元）
            td 折价（元）
            td 性价比
    div#empty 删除数据
    script(src='//cdn.bootcss.com/zepto/1.2.0/zepto.min.js')
    script(src='/js/waibao.js')
