extends layout

block content
    table#table
        tr
            td id
            td 链接地址
    div#get 导出到excel
    a(href='/cangbaoge.xlsx') 下载
    div#empty 删除数据
    script(src='//cdn.bootcss.com/zepto/1.2.0/zepto.min.js')
    script(src='/js/waibao.js')
